@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

body {
  background-color: #fffbfa;
}

/* Navbar principal */
.navbar {
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 20px;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Lista de itens */
.navbar__itens {
  display: flex;
  list-style: none;
  gap: 3vw;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Links principais */
.navbar__itens li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  padding: 10px 15px;
  display: block;
  letter-spacing: 2px;
  font-size: 1.2vw;
}

/* Hover no link */
.navbar__itens li a:hover {
  color: #ec4700;
}

.navbar__itens--button {
  background-color: none;
  border: none;
  color: #ec4700;
  background: #fffbfa;
  font-size: 1.2vw;
}

/* PARALLAX */

.reveal {
  opacity: 0;
  transform: translateY(90px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* main */

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* importante para mobile */
  justify-content: center;
}

.main-banner {
  display: flex;
  margin-right: -10vw;
  flex-wrap: wrap;
  justify-content: center;
}

/* titulo */

.tittle {
  height: 12svh;
  width: 100vw;
  display: flex;
  font-size: 15svh;
  flex-direction: column;
  margin-top: -10vw;
  margin-right: 30vw;
  max-width: 800px;
}

.tittle img {
  width: 30vw;
  margin-top: 15vw;
  margin-left: -0.7vw;
  max-width: 1000px;
}

.tittle__subtittle {
  font-size: 1.8vw;
  margin-top: 1vw;
}

.tittle__subtittle p {
  white-space: normal;
  max-width: 70vw;
  text-align: start;
}
/* botao */

.main__button {
  padding: 1.5vw;
  width: 25vw;
  background: #fffbfa;
  color: #ee3800;
  border: solid #ee3800;
  border-radius: 60px;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 5vw;
  max-width: 340px;
}

.main__button:hover {
  background: linear-gradient(135deg, #ff6a00, #ee3800);
  color: #fffbfa;
}

/* alga img*/

.alga {
  margin-left: 30vw;
  margin-top: 10svh;
}

.alga img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* sobre a empresa */

/* .history-container {
  background: linear-gradient(18deg, #ff5e00, #f14e0d);
  margin: 0 auto;
  width: 93vw;
  display: flex;
  margin-top: -1280px;
  border-radius: 20px;
} */

.history-container {
  margin: 0 auto;
  width: 95vw;
  display: flex;
  margin-top: -1280px;
}

/* .history-image {
  flex: 1;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} */

.history-image {
  flex: 1;
  overflow: hidden;
  margin-top: 3vw;
}

.history-image img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border: solid #fffbfa 10px;
}

.history-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.title h1 {
  color: #ec4700;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.title__history {
  line-height: 1.2;
  margin-top: 7vh;
  font-size: 1.5rem;
}

.tira-decorativa {
  width: 100%;
  margin-top: 15vh;
}

.single-item__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  background: #1f1f1f;
  transition: all 0.1s ease;
  width: 20vw;
  height: 21vw;
  text-align: center;
}

.single-item__container:hover {
  background: #ec4700;
  transform: scale(1.03);
}

.single-item__container img {
  margin-top: 2vh;
  width: 5vw;
  height: 5vw;
}

.single-item__container h2 {
  color: #fffbfa;
  font-size: 2vw;
  font-weight: 600;
}

.single-item__container p {
  margin-top: 10px;
  font-size: 1.4vw;
  color: #fffbfa;
}

.item-list__tittle {
  margin-top: 30vh;
  margin-bottom: 4vw;
  text-align: center;
  color: #ec4700;
  font-size: 4vw;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(10svh, 21svh));
  justify-content: center;
  column-gap: 10vw;
  row-gap: 0.6vw;
  margin-top: 8vh;
  margin-right: 9vw;
  padding-bottom: 10vh;
}

.item_list__container {
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: left;
  margin-top: -17vh;
}

/* CONTATO */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10vh;
  margin-top: -1vh;
}

.trees {
  width: 18vw;
}

form {
  margin-top: 10vh;
  width: 60vw;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

form h1 {
  margin-bottom: 30px;
  color: #ec4700;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #444;
  font-size: 1vw;
}

input,
textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  font-family: inherit;
}

input:focus,
textarea:focus {
  border-color: #ec4700;
  outline: none;
}

.form__button {
  width: 100%;
  padding: 14px;
  background-color: #fff;
  color: #ec4700;
  border: none;
  border-radius: 6px;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form__button:hover {
  background-color: #ec4700;
  color: #fff;
}

/* Works */
.item-list-work__container h1 {
  margin-top: 5vh;
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
  font-size: 5vw;
  color: #fffbfa;
}

.item-list-work__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  margin-top: 15vh;
  flex-direction: column;
  background: url(./assets/workBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-item-work__container {
  margin-bottom: 2vw;
}

.single-item-work__container img {
  width: 40vw;
  border-radius: 1vw;
  transition: all 0.2s ease;
  box-shadow: -5px 5px 10px 0px rgba(49, 49, 49, 0.1);
}

.single-item-work__container img:hover {
  width: 42vw;
}

.single-item-work__container h2 {
  color: #fffbfa;
  font-size: 2vw;
}

.single-item-work__container p {
  font-size: 1.4vw;
  color: #fffbfa;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 40px 20px 10px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.footer h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.footer p {
  margin: 10px 0;
  font-size: 16px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
}

.footer img {
  max-width: 10%;
}

/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ===== */
/* RESPONSIVIDADE 📱💻🖥️ */
/* ===== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */

@media (max-width: 584px) {
  /* Navbar principal */
  .navbar__itens {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }

  .navbar__itens li a,
  .navbar__itens--button {
    font-size: 100vw;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .tittle {
    margin-top: 4vh;
    text-align: center;
    align-items: center;
  }

  .tittle img {
    width: 95vw;
    margin-top: 5vh;
  }

  .tittle__subtittle {
    font-size: 5vw;
  }

  .main__button {
    font-size: 5vw;
    width: 80vw;
    margin-top: 5vh;
    padding: 5vw;
    background: linear-gradient(135deg, #ff6a00, #ee3800);
    color: #fffbfa;
  }

  .alga {
    margin-left: -30vw;
    text-align: center;
    margin-top: 10vh;
  }

  .alga img {
    margin-top: 34vh;
    pointer-events: none;
  }

  .history-container {
    flex-direction: column;
    margin-top: 0;
  }

  .history-image img {
    display: none;
  }

  .history-text {
    padding: 2rem;
    text-align: start;
  }

  .title h1 {
    font-size: 1rem;
    text-align: center;
  }

  .tira-decorativa {
    width: 100vw;
    margin-top: 1vh;
  }

  .item-list__tittle {
    font-size: 9vw;
    margin-top: 20vh;
  }
  .item-list__container {
    grid-template-columns: 1fr;
    row-gap: 2vw;
    margin: auto;
  }

  .single-item__container {
    width: 95vw;
    height: 35vh;
    padding: 10vw;
    margin: auto;
  }

  .single-item__container:hover {
    transform: scale(1);
  }

  .trees {
    display: none;
  }

  .single-item__container img {
    width: 15vw;
    height: 15vw;
  }

  .single-item__container h2,
  .single-item__container p {
    font-size: 4vw;
  }

  form {
    width: 100vw;
    padding: 5vw;
    border-radius: 0px;
  }

  form h1 {
    font-size: 10vw;
    margin-top: 5vh;
  }

  .form__button,
  form,
  h1,
  label {
    font-size: 5.3vw;
  }

  .contact-container {
    flex-direction: column;
    padding: 5vh;
  }

  .trees {
    width: 50vw;
  }

  .item-list-work__container h1 {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: #fffbfa;
  }

  .item-list-work__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vw;
    margin-top: 10vh;
    flex-direction: column;
    background: url(./assets/workBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .single-item-work__container {
    margin-top: 7vw;
    margin-bottom: 2vw;
  }

  .single-item-work__container img {
    width: 95vw;
    border-radius: 1vw;
    transition: all 0.2s ease;
    box-shadow: -5px 5px 10px 0px rgba(49, 49, 49, 0.1);
  }

  .single-item-work__container h2 {
    color: #fffbfa;
    font-size: 8vw;
  }

  .single-item-work__container p {
    color: #fffbfa;
  }
}

@media (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 5vw;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-left: -10px;
    margin-top: 15px;
  }

  .navbar__itens {
    flex-direction: row;
    align-items: center;
    gap: 6vh;
  }

  .navbar__itens li a,
  .navbar__itens--button {
    font-size: 5vw;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .tittle {
    margin-top: 7vh;
    text-align: center;
    align-items: center;
  }

  .tittle img {
    width: 80vw;
    margin-top: 6vh;
  }

  .tittle__subtittle {
    font-size: 6vw;
  }

  .main__button {
    font-size: 5vw;
    width: 90vw;
    margin-top: 5vh;
    padding: 4vw;
    max-width: 700px;
    position: relative;
    z-index: 10;
    background: linear-gradient(135deg, #ff6a00, #ee3800);
    color: #fffbfa;
  }

  .alga {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
  }

  .alga img {
    margin-top: 53vh;
    width: 100%;
    pointer-events: none;
  }

  .history-container {
    flex-direction: column;
    margin-top: 0;
  }

  .history-image img {
    display: none;
  }

  .history-text {
    padding: 2rem;
    text-align: start;
  }
  .history-text p {
    font-size: 6vw;
  }

  .title h1 {
    font-size: 4rem;
    text-align: center;
  }

  .tira-decorativa {
    width: 100vw;
    margin-top: 1vh;
  }

  .item-list__tittle {
    font-size: 12vw;
    margin-top: 22vh;
  }
  .item-list__container {
    grid-template-columns: 1fr;
    row-gap: 2vw;
    margin: auto;
    margin-top: 5vh;
  }

  .single-item__container {
    width: 95vw;
    height: 45vh;
    padding: 10vw;
    margin: auto;
    background-color: #ec4700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .single-item__container:hover {
    transform: scale(1);
  }

  .trees {
    display: none;
  }

  .single-item__container img {
    width: 25vw;
    height: 25vw;
  }

  .single-item__container h2 {
    font-size: 6vw;
  }
  .single-item__container p {
    font-size: 5.5vw;
  }

  form {
    width: 100vw;
    padding: 5vw;
    border-radius: 0px;
  }

  input,
  textarea {
    font-size: 5vw;
  }

  form h1 {
    font-size: 10vw;
    margin-top: 5vh;
  }

  .form__button,
  form,
  h1,
  label {
    font-size: 5.3vw;
  }

  .form__button {
    background-color: #ec4700;
    color: #fffbfa;
  }

  .contact-container {
    flex-direction: column;
    padding: 5vh;
  }

  .trees {
    width: 50vw;
  }

  .item-list-work__container h1 {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: #fffbfa;
  }

  .item-list-work__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    margin-top: 8vh;
    flex-direction: column;
    background: url(./assets/workBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  }

  .single-item-work__container {
    margin-top: 7vw;
    margin-bottom: 2vw;
  }

  .single-item-work__container img {
    width: 95vw;
    border-radius: 1vw;
    transition: all 0.2s ease;
    box-shadow: -5px 5px 10px 0px rgba(49, 49, 49, 0.1);
  }

  .single-item-work__container img:hover {
    width: 95vw;
  }

  .single-item-work__container h2 {
    color: #fffbfa;
    font-size: 8vw;
  }

  .single-item-work__container p {
    color: #fffbfa;
    font-size: 4vw;
  }

  .footer img {
    max-width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  .navbar {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 5vw;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-left: -10px;
    margin-top: 15px;
  }

  .navbar__itens {
    flex-direction: row;
    align-items: center;
    gap: 6vh;
  }

  .navbar__itens li a,
  .navbar__itens--button {
    font-size: 5vw;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .tittle {
    margin-top: 2vh;
    text-align: center;
    align-items: center;
  }

  .tittle img {
    width: 80vw;
    margin-top: 6vh;
  }

  .tittle__subtittle {
    font-size: 6vw;
  }

  .main__button {
    font-size: 5vw;
    width: 90vw;
    margin-top: 5vh;
    margin-left: 4vw;
    padding: 4vw;
    max-width: 700px;
    background: linear-gradient(135deg, #ff6a00, #ee3800);
    color: #fffbfa;
  }

  .alga {
    width: 100%;
    margin-top: 70vh;
    overflow-x: hidden;
    margin-left: -27vw;
  }

  .alga img {
    width: 100%;
    display: none;
  }

  .history-container {
    flex-direction: column;
    margin-top: 12vh;
  }

  .history-image img {
    display: none;
  }

  .history-text {
    padding: 2rem;
    text-align: start;
  }
  .history-text p {
    font-size: 5vw;
  }

  .title h1 {
    font-size: 8rem;
    text-align: center;
  }

  .tira-decorativa {
    width: 100vw;
    margin-top: 1vh;
  }

  .item-list__tittle {
    font-size: 12vw;
    margin-top: 22vh;
  }
  .item-list__container {
    grid-template-columns: 1fr;
    row-gap: 2vw;
    margin: auto;
    margin-top: 5vh;
  }

  .single-item__container {
    width: 95vw;
    height: 68vh;
    padding: 10vw;
    margin: auto;
    background-color: #ec4700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .single-item__container:hover {
    transform: scale(1);
  }

  .trees {
    display: none;
  }

  .single-item__container img {
    width: 25vw;
    height: 25vw;
  }

  .single-item__container h2 {
    font-size: 6vw;
  }
  .single-item__container p {
    font-size: 5.5vw;
  }

  form {
    width: 100vw;
    padding: 8vw;
    border-radius: 0px;
  }

  input,
  textarea {
    font-size: 5vw;
  }

  form h1 {
    font-size: 8vw;
    margin-top: 5vh;
  }

  .form__button,
  form,
  h1,
  label {
    font-size: 4vw;
  }

  .form__button {
    background-color: #ec4700;
    color: #fffbfa;
  }
  .contact-container {
    flex-direction: column;
    padding: 5vh;
  }

  .trees {
    width: 50vw;
  }

  .item-list-work__container h1 {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-size: 10vw;
    color: #fffbfa;
  }

  .item-list-work__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    margin-top: 8vh;
    flex-direction: column;
    background: url(./assets/workBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
  }

  .single-item-work__container {
    margin-top: 7vw;
    margin-bottom: 2vw;
  }

  .single-item-work__container img {
    width: 95vw;
    border-radius: 1vw;
    transition: all 0.2s ease;
    box-shadow: -5px 5px 10px 0px rgba(49, 49, 49, 0.1);
  }

  .single-item-work__container img:hover {
    width: 95vw;
  }

  .single-item-work__container h2 {
    color: #fffbfa;
    font-size: 8vw;
  }

  .single-item-work__container p {
    color: #fffbfa;
    font-size: 4vw;
  }

  .footer img {
    max-width: 25%;
  }
}

@media (min-width: 1280px) and (max-height: 800px) {
  .navbar {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 2vw;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-left: -10px;
  }

  .navbar__itens {
    flex-direction: row;
    align-items: center;
    gap: 10vh;
  }

  .navbar__itens li a,
  .navbar__itens--button {
    font-size: 2vw;
  }

  .main {
    flex-direction: row;
    align-items: center;
  }

  .tittle {
    margin-top: 1vh;
    text-align: center;
    align-items: center;
  }

  .tittle img {
    width: 50vw;
    margin-top: 6vh;
  }

  .tittle__subtittle {
    font-size: 2vw;
    width: 46vw;
  }

  .main__button {
    font-size: 2vw;
    width: 40vw;
    margin-top: 5vh;
    margin-left: -20vw;
    padding: 2vw;
  }

  .alga {
    width: 100%;
    overflow-x: hidden;
  }

  .alga img {
    width: 100%;
  }

  .history-container {
    flex-direction: row;
    margin-top: -100vh;
    width: 100%;
    margin-left: -2vw;
  }

  .history-container img {
    width: 100%;
  }

  .history-text {
    text-align: start;
  }
  .history-text p {
    font-size: 2vw;
  }

  .title h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .tira-decorativa {
    width: 100%;
    margin-top: 10vh;
  }

  .item-list__tittle {
    font-size: 6vw;
    margin-top: 22vh;
  }

  .item-list__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(10svh, 21svh));
    justify-content: center;
    column-gap: 16vw;
    row-gap: 2vw;
    margin-top: 8vh;
    margin-right: 9vw;
    padding-bottom: 10vh;
  }

  .single-item__container {
    width: 25vw;
    height: 55vh;
    padding: 5vw;
    margin: auto;
    background-color: #1f1f1f;
  }

  .trees {
    display: none;
  }

  .single-item__container img {
    width: 5vw;
    height: 5vw;
  }

  .single-item__container h2 {
    font-size: 2vw;
  }
  .single-item__container p {
    font-size: 1.7vw;
    width: 300px;
  }

  form {
    width: 60vw;
    padding: 8vw;
    border-radius: 0px;
  }

  input,
  textarea {
    font-size: 2vw;
  }

  form h1 {
    font-size: 5vw;
    margin-top: 5vh;
  }

  .form__button,
  form,
  h1,
  label {
    font-size: 2vw;
  }

  .form__button {
    background-color: #fffbfa;
    color: #ec4700;
  }
  .contact-container {
    flex-direction: column;
    padding: 5vh;
  }

  .item-list-work__container h1 {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: #fffbfa;
  }

  .item-list-work__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    margin-top: 8vh;
    flex-direction: column;
    background: url(./assets/workBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
  }

  .single-item-work__container {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .single-item-work__container img {
    width: 60vw;
    border-radius: 1vw;
    transition: all 0.2s ease;
    box-shadow: -5px 5px 10px 0px rgba(49, 49, 49, 0.1);
  }

  .single-item-work__container img:hover {
    width: 62vw;
  }

  .single-item-work__container h2 {
    color: #fffbfa;
    font-size: 4vw;
  }

  .single-item-work__container p {
    color: #fffbfa;
    font-size: 2vw;
  }
}
